html {
  font-size: 100px; // 相当于配置了1rem = 100px
}

body {
  font-size: .12rem; // 相当于配置了body里的字体默认是100px * 0.12 = 12px
  font: 400 .16rem/.26rem "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  color: #333;
}

// @media (prefers-color-scheme: dark) {
//   body {
//     background-color: #333;
//     color: #fff;
//   }
// }

a {
  color: #444;
  text-decoration: none;
}

// @media (prefers-color-scheme: dark) {
//   a {
//     color: #fff;
//   }
// }

a:hover {
  background: rgba(0, 0, 0, 0.03);
  color: #444;
  outline: none;
}

i {
  font-style: normal;
}

// 对话框的淡入淡出
.fade-enter-active,
.fade-leave-active {
  transition: all 0.2s;
}

// 对话框的淡入淡出
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
