@font-face {
  font-family: "iconfont"; /* Project id 3962411 */
  src: url('iconfont.ttf?t=1680174148195') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-expanded:before {
  font-family: "iconfont" !important; 
  content: "\e795";
  font-size: .15rem;
  margin-right: .1rem;
  position: absolute; 
  margin-left: -.2rem; 
  display: inline-block;
}

.icon-collapsed:before {
  font-family: "iconfont" !important; 
  content: "\e7b9";
  font-size: .12rem;
  margin-right: .1rem;
  position: absolute; 
  margin-left: -.2rem; 
  display: inline-block;
}

